
<app-header></app-header>
<body>

    <div class="container">
        <p align="right">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addcontactmodal"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i> Add
                Contact</button>
        </p>

      
            <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="input" autocomplete="on"
                    placeholder="Start searching for first or lastname or email or mobile">
         
           </div>

        <h2>Contacts List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts | filter:input">
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.mobile}}</td>
                    <td>
                        <i class="fa fa-edit" data-toggle="modal" data-target="#editmodal"
                            (click)="copyDetailsToedit(contact)">Edit</i>&nbsp;&nbsp;
                        <i class="fas fa-trash" data-toggle="modal" data-target="#deletemodal"
                            (click)="copyDetailsToedit(contact)">Delete</i>&nbsp;&nbsp;
                        <i class="fas fa-eye" data-toggle="modal" data-target="#viewmodal"
                            (click)="copyDetailsToedit(contact)">View</i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
<app-footer></app-footer>


<!-- Edit  Modal -->
<div class="modal fade" id="editmodal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Contact Details</h4>
            </div>
            <form>
                <div class="form-group">
                    <label for="firstname">FirstName:</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter FirstName"
                        name="firstname" [(ngModel)]="contact.firstName">
                </div>
                <div class="form-group">
                    <label for="lastname">LastName:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter LastName" name="lastname"
                        name="firstname" [(ngModel)]="contact.lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        name="firstname" [(ngModel)]="contact.email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile"
                        name="firstname" [(ngModel)]="contact.mobile">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="updateContacts(contact)">Edit Contact</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="setContactDetailsToDefault()">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- View  Modal -->
<div class="modal fade" id="viewmodal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Details</h4>
            </div>
            <form>
                <div class="form-group">
                    <label for="firstname">FirstName:</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter FirstName"
                        name="firstname" [(ngModel)]="contact.firstName">
                </div>
                <div class="form-group">
                    <label for="lastname">LastName:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter LastName" name="lastname"
                        [(ngModel)]="contact.lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        [(ngModel)]="contact.email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile"
                        [(ngModel)]="contact.mobile">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="setContactDetailsToDefault()">Close</button>
            </div>
        </div>

    </div>
</div>



<!-- edit  Modal -->
<div class="modal fade" id="editmodal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Details</h4>
            </div>
            <form>
                <div class="form-group">
                    <label for="firstname">FirstName:</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter FirstName"
                        name="firstname" [(ngModel)]="contact.firstName">
                </div>
                <div class="form-group">
                    <label for="lastname">LastName:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter LastName" name="lastname"
                        [(ngModel)]="contact.lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        [(ngModel)]="contact.email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile"
                        [(ngModel)]="contact.mobile">
                </div>
            </form>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                        (click)="updateContacts(contact)">Edit Contact</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                       >Close</button>
                </div> </div>
        </div>

    </div>
</div>




<!-- Delete  Modal -->
<div class="modal fade" id="deletemodal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete the below contact?</h4>
                <pre>{{contact.firstName}}{{contact.lastName}}</pre>
                <pre>{{contact.email}}</pre>
                <pre>{{contact.mobile}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="deleteContacts(contact.contactId)">Delete Contact</button>
                <button type="button" class="btn btn-su" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<!-- add contact  Modal -->
<div class="modal fade" id="addcontactmodal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Details</h4>
            </div>
            <form>
                <div class="form-group">
                    <label for="firstname">FirstName:</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter FirstName"
                        name="firstname" [(ngModel)]="contact.firstName">
                </div>
                <div class="form-group">
                    <label for="lastname">LastName:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter LastName" name="lastname"
                        [(ngModel)]="contact.lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        [(ngModel)]="contact.email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile"
                        [(ngModel)]="contact.mobile">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addContacts(contact)">Add
                    Contact</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="setContactDetailsToDefault()">Close</button>

            </div>
        </div>
    </div>
</div>

